In [1]:
import pandas as pd

In [2]:
pd.read_csv("reading_data/ornekcsv.csv", sep=";")

      a    b     c
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0

In [3]:
pd.read_csv("reading_data/duz_metin.txt")

    1 2
0   2 2
1   3 2
2   4 2
3   5 2
4   6 2
5  7 2
6   8 2
7   9 2
8  10 2

In [4]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\selo\appdata\local\programs\python\python39\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.
WARNING: You are using pip version 20.2.3; however, version 21.1.2 is available.
You should consider upgrading via the 'C:\Users\selo\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [9]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.7
Note: you may need to restart the kernel to use updated packages.
WARNING: You are using pip version 20.2.3; however, version 21.1.2 is available.
You should consider upgrading via the 'C:\Users\selo\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [11]:
df = pd.read_excel("reading_data/ornekx.xlsx")

In [12]:
df.head()

    a    b    c
0  78   12  1.0
1  78   12  2.0
2  78  324  3.0
3   7    2  4.0
4  88   23  5.0

In [13]:
pip install tkinter

Note: you may need to restart the kernel to use updated packages.
ERROR: Could not find a version that satisfies the requirement tkinter (from versions: none)
ERROR: No matching distribution found for tkinter
WARNING: You are using pip version 20.2.3; however, version 21.1.2 is available.
You should consider upgrading via the 'C:\Users\selo\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [4]:
import pandas as pd
import tkinter as tk
from tkinter import filedialog

In [5]:
root = tk.Tk()
root.withdraw()

file_path = filedialog.askopenfilename()
df = pd.read_excel(file_path)

In [7]:
df.tail(2)

      a   b     c
11  456  21   8.0
12    3  12  88.0